/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Body Styling */
body {
    background-color: #fff;
    color: #000;
}

/* Header Section */
header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #0ABC98;
    color: white;
    padding: 10px 20px;
    gap: 15px;
}

.logo {
    flex-grow: 1;
}

.logo img {
    flex-grow: 1;
    width: 200px;
    height: auto; /* Maintain proportions */
    display: block; /* Prevent extra spacing around the image */
}

header .search-bar {
    display: flex;
    flex-grow: 2;
    /* justify-self: center; */
}

header .search-bar form {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 100%;
}

header .search-bar input {
    width: 100%;
    min-width: 235px;
    max-width: 600px;
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
}

header .search-bar button {
    background: none;
    border: none;
    cursor: pointer;
}

header .search-bar img {
    width: 30px;
    height: 30px;
    margin-left: 15px;
    cursor: pointer;
}

header .header-icons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-grow: 1;
    justify-content: end;
}

header .header-icons img {
    width: 25px;
    height: 25px;
    margin-left: 15px;
    cursor: pointer;
}

/* Main Content */
main {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 45px;
}

.summary {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.property_name {
    font-size: 35px;
    font-weight: bold;
}

.stars {
    color: gold;
    font-size: 20px;
    align-items: start;
}

.text {
    font-size: 16px;
}

/* Photos */
.photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.photos img {
    max-width: 200px; /* Adjust as needed */
    height: auto; /* Maintain proportions */
    display: block; /* Prevent extra spacing around the image */
}

/* Property Info */
.official_info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.property_info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 35px;
}

.info_column {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-grow: 1;
    max-width: 400px;
}

.info_column .detail {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.label {
    font-size: 16px;
    font-weight: bold;
}

.button {
    padding: 10px;
    font-size: 16px;
    background-color: #0ABC98;
    color: #fff;
    border-radius: 5px;
    border-color:#0ABC98;
    width: min-content;
    cursor: pointer;
}

/* Reviews Section */
option {
    font-size: 16px;
}

textarea {
    padding: 15px;
    font-size: 16px;
}

.reviews_section {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.write_reviews_section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.subheading {
    font-size: 25px;
    font-weight: bold;
}

.container {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;;
    padding: 15px;
    gap: 20px;
}

.give_rating {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.rating_date {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.date {
    font-size: 16px;
    color: darkgray;
}